.container{
    position: fixed;
    width: 100%;
    padding: 2vmax 2vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.container p{
    font-size: 18px;
}