@font-face {
  font-family: pro;
  src: url(./fonts/NBInternationalProBoo.woff2);
  font-display: fallback;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: pro, sans-serif;
  font-weight: lighter;
}

body{
  width: 100%;
  height: 100%;
}
